
body {
background-image: url(https://i.ibb.co/wgmd69f/obg.jpg);
/* background-image: url(https://i.ibb.co/52zyBBq/1565637116127.png); */
/* background-size: stretch; */
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}


ul {
    list-style-type: none;
}

.messageSubmit {
    margin-left: 20px;
}

#welcome {
    text-align: center;
}

/* #about-pic {
    text-align: center;
    margin-right: 100px;
} */

.about-body {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

/* .about-body img {
    float: right;
} */

#about-text {
    margin-left: 100px;
    margin-right: 100px;
}