img {
    float: right;
}

body {
background-image: url(https://i.ibb.co/wgmd69f/obg.jpg);
background-size: 100%;

}


ul {
    list-style-type: none;
}

.messageSubmit {
    margin-left: 20px;
}

textarea {
    margin-left: 20px;
}