.nav-title-master {
    text-align: center;
    color: red;
}

#hammster-logo {
  padding-left: 20px;
  padding-right: 20px;
  /* width: 100% */
}

.nav-master {
  background-color: #fde67f;
  position: fixed;
  height: 91px;
  width: 100%;
  top: 0px;
  text-align: center;
}

.hammster-face-logo {
  padding-top: 10px;
}

.nav-link-master {
  color: #f2f2f2;
  background-color: #d8b411;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 15px;
 

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link-master:hover {
  background-color: #302df0;
}


